# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.pyc

# Logs and databases
*.log
*.db
*.sqlite3

# Dependency directories
node_modules/
bower_components/

# Package files
*.egg-info/
dist/
build/